.list {
  position: relative;
  display: grid;
  grid-template-rows: 100px;
  align-items: center;

  &--active {
    grid-template-rows: 100px 1fr;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;

    border-bottom: 1px solid $colorMenu;
}

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 15%;

    & p {
      font-weight: 500;
      color: $colorGray;
    }
  }

  &__btn-show {
    position: relative;
    width: $sizeBtnPlus;
    height: $sizeBtnPlus;

    background-color: transparent;
    transition: all 0.3s ease;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: $sizeBtnPlus;
      height: 2px;
      background-color: $colorGray;
    }

    &::after {
      transform: rotate(90deg);
    }

    &::before {
      transform: rotate(0);
    }

    &--active {
      transform: rotate(45deg);
    }
  }

  &__sub-list-wrap {
    position: relative;
    overflow: hidden;
    height: 0;
    transition-delay: 0.25s;


    &--active {
      height: $height;
      transition-delay: 0;
      transition: all 0.1s linear;
    }
  }

  &__sub-list {
    opacity: 0;
    position: relative;
    transform: translateY(-100%);
    display: grid;
    grid-auto-rows: 50px;
    width: 100%;
    height: $height;
    @extend %transitionMain;

    background-color: #fff;

    &--active {
      opacity: 1;
      transform: translateY(0);
      @extend %transitionMain;
    }
  }

  &__sub-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid $colorGray;

    &:hover {
      background-color: $colorGray;
    }

    & a {
      width: 100%;
      height: $height;
      display: flex;
      align-items: center;
    }
  }
}
